#work-section .work-gallery {
	grid-template-columns: 1fr;
}

#work-section .work-gallery .work-item#work-item-3 {
	grid-row: 5;
	grid-column: unset;
}

header .header-container .header-profile-pic img {
	width: 60%;
}

header .header-container .header-profile-pic img {
	width: max(45%, 245px);
}

header .header-container .header-profile-pic::before {
	width: max(60vw, 320px);
	height: 480px;
}

footer p.content-p {
	padding-left: unset;
	padding-right: unset;
}
