#work-section .work-gallery {
	grid-template-columns: 1fr;
}

#work-section .work-gallery .work-item#work-item-3 {
	grid-row: 5;
	grid-column: unset;
}

header .header-container .header-profile-pic img {
	width: 60%;
}
