.px-4 {
	padding-left: unset;
	padding-right: unset;
}

nav .nav-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

nav .nav-container .nav__list {
	display: none;
}

nav .nav-container .nav__logo .logo-title {
	display: flex;
}

nav .nav-container .nav__logo .logo-title h3 {
	margin: 0 1rem;
}

header .header-container .header-profile-pic img {
	width: max(45%, 292px);
}

header .header-container .header-profile-pic::before {
	width: max(60vw, 360px);
	height: 480px;
}

.header-container {
	max-width: 800px;
	width: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	top: 10%;
	left: unset;
}

#work-section .work-gallery .work-item#work-item-3 {
	grid-row: 3 / span 2;
	grid-column: 1 / span 2;
}

nav,
#work-section,
#skills-section,
#about-me-section,
footer {
	padding-left: 2rem;
	padding-right: 2rem;
}

/*Mobile checkbox*/

.mobile-nav-container {
	display: block;
	position: fixed;
	height: 250px;
	z-index: 1;
	right: 0;
	top: 15%;
}

.mobile-nav-container #mobile-nav-checkbox {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(20%, -50%);
	z-index: 3;
	cursor: pointer;
	width: 35px;
	height: 35px;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	opacity: 0;
	transition: transform 0.5s;
}

.mobile-nav-container .mobile-hamburger {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(20%, -50%);
	z-index: 2;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	transition: transform 0.5s;
}

.mobile-nav-container .mobile-hamburger .hamburger-arrow {
	border: solid var(--third-color);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.mobile-nav-container
	#mobile-nav-checkbox:checked
	+ .mobile-hamburger
	.hamburger-arrow {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.mobile-nav-container #mobile-nav-checkbox:checked,
.mobile-nav-container #mobile-nav-checkbox:checked + .mobile-hamburger {
	transform: translate(-100%, -50%);
}

.mobile-nav-container .mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 1rem;
	height: 100%;
	position: relative;
	transform: translateX(90%);
	transition: transform 0.5s;
}

.mobile-nav__list .mobile-list-item a {
	font-size: 2rem;
	color: var(--third-color);
}

.mobile-nav-container
	#mobile-nav-checkbox:checked
	+ .mobile-hamburger
	+ .mobile-nav__list {
	transform: translateX(0);
}
